@import '../../common/css/rem';
@import '../../common/css/const';
.active-detail-ctr {
  position: relative;
  height: 100%;
  width: 100%;
  background: #FFF;
  overflow: auto;
  padding-bottom: rem(100);
  .ac-img-wrap {
    padding: rem(30);
    img {
      height: rem(350);
    }
    .ac-price,
    .ac-name {
      font-size: rem(30);
      line-height: rem(42);
      font-weight: bolder;
    }
    .ac-price {
      margin-top: rem(16);
      height: rem(40);
      padding-left: rem(52);
      color: #F78903;
      background: url('../../image/money_icon.png') no-repeat left top;
      background-size: rem(40) rem(40);
    }
  }
  .ac-des {
    padding: rem(17) rem(30);
    p {
      height: rem(36);
      line-height: rem(36);
      padding-left: rem(44);
      font-size: rem(30);
    }
    p:nth-of-type(1) {
      background: url('../../image/dete_icon.png') no-repeat left center;
      background-size: rem(32) rem(32);
    }
    p:nth-of-type(2) {
      margin-top: rem(32);
      background: url('../../image/addr_icon.png') no-repeat left center;
      background-size: rem(30) rem(36);
    }
  }
  .ac-detail {
    padding: rem(17) rem(30);
    .ac-detail-title {
      height: rem(36);
      line-height: rem(36);
      padding-left: rem(44);
      font-size: rem(30);
      background: url('../../image/detail_icon.png') no-repeat left center;
      background-size: rem(32) rem(30);
    }
  }
  .ac-line {
    width: 100%;
    height: rem(14);
    background: #F4F4F4;
  }
  .ac-btns-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    height: rem(100);
    width: 100%;
    display: flex;
    text-align: center;
  }
  .ac-btns-1,
  .ac-btns-2,
  .ac-btns-3 {
    height: 100%;
    line-height: rem(100);
  }

  .ac-btns-1,
  .ac-btns-2 {
    width: rem(228);
    border-top: rem(1) solid #FFC460;
    border-right: rem(1) solid #FFC460;;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
    }
    
  }
  
  .ac-btns-1 {
    img {
      width: rem(36);
      height: rem(38);
    }
  }
  .ac-btns-2 {
    border-top-right-radius: rem(10);
    img {
      width: rem(36);
      height: rem(36);
    }
  }
  .ac-btns-3 {
    background:linear-gradient(103deg,rgba(255,38,38,1),rgba(255,141,28,1));
    border-radius: rem(10);
    flex: 1;
    font-size: rem(30);
    color: #FFF;
  }
}
