.fade-enter-active, .fade-leave-active {
	transition: opacity .2s
}
.fade-enter, .fade-leave-to{
	opacity: 0
}

@keyframes fade{
	from {  background-color: rgba(0,0,0,0); }
	to {  background-color: rgba(0,0,0,.5); }
}
// @keyframes down{
// 	0% {  opacity:0;  transform: translateY(-12px);  }
// 	100% {  opacity:1;  transform: translateY(0);  }
// }
// @keyframes scale{
// 	from {  transform: scaleY(0); }
// 	to {   transform: scaleY(1); }
// }