@import './rem';
$color-a: '#333'; // 字体主颜色
$color-b: #FFC460;
$color-c: #666;
$color-d: #B70909;
$color-e: #999;

$size-a: rem(24);
$size-b: rem(26);
$size-c: rem(28);
$size-d: rem(30);
$size-e: rem(32);