@import '../../common/css/rem';
@import '../../common/css/const';
.sign-success-ctr {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-bottom: rem(20);
  padding: rem(51) rem(42) rem(0) rem(42);
}
