@import '../../common/css/rem';
@import '../../common/css/const';
.top {
    .img{
        margin-bottom: rem(27);
        text-align: center;
        margin:auto auto;
        margin-top: rem(13);
        width: rem(690);
        height: auto;

        border-radius: rem(10);
        background-image:url('../../image/activitedListBackground.jpg');
       .txt{
           text-align: left;
           display: flex;
           padding: rem(22) 0 rem(22) rem(28);

           .txtColor{
               width: rem(8);
               height: rem(31);
               background: #FADEAC;
               margin-right: rem(5);
           }
           .activitedTxt{
               color: white;
               font-size: rem(30);
               line-height: rem(35);
           }
       }
       .forDiv{
               margin-bottom: rem(5);
               padding-bottom: rem(15);
       }
        .topDiv{
            width: rem(660);
            height: rem(238);
            background: #F9DFBA;
            margin:auto rem(15);
            border-radius: rem(10) rem(10) 0 0;

        }
        .topTxt{
            width: rem(660);
            height: rem(90);
            background: white;
            margin:auto auto;
            padding-left: rem(15) !important;
            padding-top: rem(10);
            border-radius:  0 0 rem(10) rem(10);
            .topdivTxt{
                font-size: rem(26);
                font-weight:bold;
                text-align: left;
                color: #333333;
            }
            .bottomTxt{
                // display: flex;
                margin-top: rem(16);
                color: #666666;
                .leftTxt{
                    float: left;
                }
                .rightTxt{
                    float: right;
                    margin-right: rem(15);
                }
            }
        }

    }

  }   //周年庆活动

.bottom {   //走访活动
    .img{
        margin-bottom: rem(27);
        text-align: center;
        margin:auto auto;
        margin-top: rem(13);
        width: rem(690);
        // height: rem(770);
        border-radius: rem(10);
        background-image:url('../../image/activitedListBackground.jpg');
       .txt{
           text-align: left;
           display: flex;
           padding: rem(22) 0 rem(22) rem(28);
           .txtColor{
               width: rem(8);
               height: rem(31);
               background: #FADEAC;
               margin-right: rem(5);
           }
           .activitedTxt{
               color: white;
               font-size: rem(30);
               line-height: rem(35);
           }
       }
        .topDiv{
            width: rem(660);
            height: rem(238);
            background: #F9DFBA;
            margin:auto rem(15);
            border-radius: rem(10) rem(10) 0 0;

        }
        .topTxt{
            width: rem(660);
            height: rem(90);
            background: white;
            margin:auto auto;
            padding-left: rem(15) !important;
            padding-top: rem(10);
            margin-bottom: rem(15);
            border-radius:  0 0 rem(10) rem(10);
            .topdivTxt{
                font-size: rem(26);
                font-weight:bold;
                text-align: left;
                color: #333333;
            }
            .bottomTxt{
                // display: flex;
                margin-top: rem(16);
                color: #666666;
                .leftTxt{
                    float: left;
                }
                .rightTxt{
                    float: right;
                    margin-right: rem(15);
                }
            }
        }

    }

  }
