@import '../../common/css/rem';
@import '../../common/css/const';
.top {   
    margin-bottom: rem(27);
    text-align: center;
    margin:auto auto;
    margin-top: rem(13);
    width: rem(690);
    height: auto;    
    
  }   //周年庆活动
