@import '../../common/css/rem';
@import '../../common/css/const';
.mint-tabbar > .mint-tab-item.is-selected {
  background: none;
  color: #CD1E20
}

.mt-padding {
  padding: rem(30) rem(30);
}
.home-ctr {
  .h-banner {
    height: rem(340);
    border-radius: rem(10);
    img {
      width: 100%;
      height: 100%;
    }
  }
  .h-fun-wrap {
    margin: rem(36) 0 rem(48) 0;
    .hf-ul-same {
      display: flex;
      justify-content: space-between;
      &:nth-of-type(1) {
        margin-bottom: rem(34)
      }
      li {
        text-align: center;
        img {
          width: rem(86);
          height: rem(86);
        }
        p {
          margin-top: rem(8);
          font-size: rpm(24);
        }
      }
    }
  }
  .new-wrap {
    background: #DC9B3869;
    box-shadow: rem(-2) rem(-8) rem(-16) 0px rgba(220,155,56,0.41);
    border-radius: rem(10);
    padding: rem(44) rem(15) rem(15) rem(15);
    nav {
      margin-bottom: rem(40);
      a{
        font-size: $size-c;
        font-weight: bolder;
        display: inline-block;
        width: 50%;
        text-align: center;
        position: relative;
        .imgTxt{
          width: rem(30);
          height: rem(30);
          float: right;
        }
      }
      a.active {
        color: #CD1D1F
      }
      a.active::after {
        position: absolute;
        left: 50%;
        bottom: rem(-12);
        content: '';
        height: rem(4);
        width: rem(68);
        background: #CD1D1F;
        transform: translateX(-50%);
        background:rgba(255,127,0,1);
        border-radius: rem(2);
      }
    }
    .new-con {
      overflow: hidden;
      li {
        width: 49%;
        float: left;
        background: #FFF;
        margin-bottom: rem(26);
        padding-bottom: rem(12);
        border-radius: rem(10);
        overflow: hidden;
        img {
          width: 100%;
          height: rem(224);
        }
        p {
          padding: 0 rem(12);
        }
        p:nth-of-type(1) {
          margin: rem(12) 0 rem(34) 0;
          font-weight: bolder;
          font-size: $size-b;
        }
        p:nth-of-type(2) {
          display: flex;
          justify-content: space-between;
        }
      }
      li:nth-child(odd){
        margin-right: 2%;
      }
    }
  }
}
.home-tabbar {
  overflow: hidden;
  height: 100%;
}

.home-wrap {
  overflow: auto;
  height: 100%;
  padding-bottom: 70px;
  background: #EDEDED;
}
// .wait-wrap {
//   padding-top: rem(100);
//   text-align: center;
//   img {
//     width: rem(444);
//     height: rem(314);
//     margin-bottom: rem(98);
//   }
//   p {
//     color: #EAA01E;
//     font-size: rem(40);
//     line-height: rem(56);
//     letter-spacing: rem(10);
//     font-weight: bolder;
//   }
// }

.page-infinite-loading {
  text-align: center;
  height: 50px;
  line-height: 50px;
  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.mine-mt-item {

  .mine-top-outer {
    padding-top: rem(36);
    height: rem(260);
    background: url('../../image/mine_bg_ic.png') no-repeat left center;
    background-size: 100% 100%;
  }
  .mine-info {
    height: rem(126);
    padding: 0 rem(46);
    display: flex;
    align-items: center;
    // padding-top: rem(50);
    img:nth-of-type(1) {
      width: rem(126);
      height: rem(126);
      border-radius: 50%;
    }
    span {
      flex: 1;
      padding: 0 rem(22);
      color: #FFF;
      p:nth-of-type(1) {
        font-size: $size-d;
        margin-bottom: rem(16);
      }
    }
    img:nth-of-type(2) {
      width: rem(31);
      height: rem(31);
    }
  }
  .mine-action-outer {
    padding: 0 rem(28);
    position: relative;
    transform: translateY(rem(-44));
    ul {
      li {
        padding: rem(28) rem(16);
        background: #FFF;
        display: flex;
        border-radius: rem(6);
        margin-bottom: rem(20);
        align-items: center;
        .mine-li-img_a {
          width: rem(52);
          height: rem(42);
        }
        .mine-li-img_b {
          width: rem(35);
          height: rem(52);
        }
        .mine-li-img_c {
          width: rem(31);
          height: rem(26);
        }
        .mine-li-img_d {
          width: rem(46);
          height: rem(38);
        }
        
        
        b{
          flex: 1;
          font-weight: bolder;
          padding: 0 rem(14);
          font-size: rem(30);
          font-weight: bolder;
        }
        img:nth-of-type(2) {
          width: rem(13);
          height: rem(24);
        }
      }
    }
  }
}
